<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captcha</title>
    <link rel="stylesheet" href="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style media="screen">
body{
  align-items: center;
}
  .row{
    text-align: left;
    margin: 0 auto;
  }

</style>
<body>
  <br><br><br><br><br>
  <h1 style="text-align: center;">Attendance Check</h1>
  <br><br><br>
  <div class="row">
<div class="col-md-12">

  <form action="/captcha1" style="margin: 0 auto" method="post" >

    <div class="row">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="email"><h3>Captcha:</h3></label>
              <h1 style="letter-spacing: 20px; text-align: center; font-family: 'Roboto Mono', monospace"><%= code %></h1>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="email"></label>
              <input type="" class="form-control" id="email" name="code" value="" placeholder="Type the text here">
            </div>
          </div>


      <div class="col-md-12" style="">

        <input type="submit" id="btn" name="submitBtn" value="Submit" class="btn btn-primary" style="width: 150px; border-radius: 10px;">
        &nbsp;&nbsp;
      </div>
    </div>

  </div>
  </form>
</div>
</div>
</body>

</html>
