<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ems</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
  <!-- //Bootstrap JQUERY -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link href="/main_page/aos/aos.css" rel="stylesheet">
  <!-- Main CSS file -->
  <link rel="stylesheet" href="/main_page/styles.css">
</head>

<body>

  <section id="title">
    <div class="container-fluid">


      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ccf2f4;">
        <a class="navbar-brand logo-img" href="#"> <img style="width:6.875rem;" src="images/logo2.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-items active" href=""><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#About">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#Features">Features</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Contact">Contact Us</a>
            </li>

          </ul>
        </div>
      </nav>



      <!-- Title -->

      <div class="row" id="hero">
        <div class="col-lg-6" style="text-align: center;" data-aos="zoom-in"data-aos-easing="linear"
        data-aos-duration="500"  >
          <img class="img-fluid animated"  alt=""  src="https://loudvideos.com/wp-content/uploads/2019/06/whiteboard-animation-and-explainer-video-studio.png" style="width:87%;" alt="ems">
        </div>
        <div class="col-lg-6"  data-aos="zoom-in" data-aos-anchor-placement="top-center" data-aos-delay="150" >
          <h1 style="text-align: left;" >Make life simpler with Smart Management systems</h1>
          <a href="/login"><button type="button" class="btn btn-outline-info btn-lg signButtons" ><i class="fas fa-sign-in-alt"></i> SIGN IN</button></a>

        </div>
      </div>
    </div>

  </section>



  <!-- Features -->
  <section id="Features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-6" data-aos="fade-right" data-aos-delay="150">
          <i class="fas fa-users fa-6x icon"></i>
          <h3 class="feature-titles">Employee Management</h3>

          <p>This is a platform where all work-related
             as well as important personal details of an employee is stored and managed in a secure way</p>
   </div>
    <div class="feature-box col-lg-6" data-aos="fade-left"  data-aos-delay="150">
      <i class="fas fa-business-time fa-6x icon"></i>
      <h3 class="feature-titles">Performance Management</h3>

      <p> Enable you to track and monitor the performance of individual employees, departments, and the organization overall</p>
  </div>
      </div>
      <div class="row">
        <div class="feature-box col-lg-6" data-aos="fade-right"  data-aos-delay="150">

          <i class="fas fa-id-card fa-6x icon"></i>
          <h3 class="feature-titles">Attendance Management</h3>

    <p> Enables an employer to monitor their employees working hours, absenteeism,etc</p>    </div>

    <div class="feature-box col-lg-6" data-aos="fade-left"  data-aos-delay="150">
      <i class="fas fa-file-invoice fa-6x icon"></i>
      <h3 class="feature-titles">Payroll Management</h3>

      <p>It is the system by which an admin can manage the salaries(includes salary, allowances, deductions,etc.) of the employees</p>
    </div>
      </div>

    </div>

  </section>

  <!--- -ABOUT------------>
  <section id="About" >

    <div class="container">
      <div class="row">

        <div class="row" id="hero">
          <div class="col-lg-6 order-1 order-lg-2" style="
            text-align: center;" data-aos="zoom-in-left"  data-aos-delay="150">
            <img class="img-fluid animated" src="images/image2.png" style="width:80%" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1" data-aos="zoom-in-right" data-aos-delay="150">
            <h3 style="color:	#03506f; font-weight:700;font-size:3.5rem;">About us</h3>
            <br />
            <p class="font-italic">
              EMS helps to eliminate the manual process and saves a lot of time and money.
              This system maintains the professional and personal details of the employees and the company in a safe manner.
              The employee management system lowers the burden and the pressure on HRs and the business managers.
              Thanks to the technology which offers us a plethora of solutions which makes the work easier and faster.
            </p>

          </div>



        </div>
      </div>

    </div>


    </div>

  </section>
  <section class="TechnologyUsed" style="
    text-align: center;">
    <h3 style="color:	#03506f; font-weight:700;font-size:1.9rem;">Technologies Used:</h3>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="150" >
          <img class="techimgs"  src="images/html.png" alt="">
        </div>
        <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="150" >
          <img class="techimgs"  src="images/css.png" alt="">
        </div>
        <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="150" >
          <img class="techimgs"  src="images/javascript.png" alt="">
        </div>
        <div class="col-lg-3" data-aos="zoom-in" data-aos-delay="150" >
          <img class="techimgs"  src="images/mongo.png" alt="">
        </div>
      </div>
    </div>
  </section>
 <section id="Contact" class="ContactUs">
   <h3 style="color:	black; font-weight:700;font-size:3.5rem;margin-bottom:60px;">Contact Us</h3>


         <div class="row">
           <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="150" >

               <i class="fas fa-map-marked-alt fa-4x Contacticon"></i>
               <h3>Our Address</h3>
               <p>Vijayawada,Andhrapradesh</p>

           </div>

           <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="150" >

               <i class="far fa-envelope fa-4x Contacticon"></i>
               <h3>Email Us</h3>
               <p>ems@gmail.com</p>

           </div>

           <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="150" >

                <i class="fas fa-phone-alt fa-4x Contacticon"></i>
               <h3>Call Us</h3>
               <p>+91 8341764564</p>

           </div>

         </div>
 </section>

  <!-- Copyright -->
  <div class="footer">
      <p style="margin-top:15px">© Copyright 2021 EMS</p>
  </div>

  <script src="/main_page/aos/aos.js"></script>
<script>
  $(function() {
  AOS.init();
});
</script>

</body>

</html>
